.DS_Store

# Files >50MB
CS6300/lecture-recordings/P1L4_Version_Control/53 - Interview with John Britton.mp4
CS6300/lecture-recordings/P3L2_A_Tale_of_Analysis_and_Design/192 - Analyzing Requirements.mp4